{% extends "ingredients/base.html" %}
{% block content %}
    <table>
      <tr>
        <th>Ingredients</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>

      {% for instance in ingredients_table %}
        <tr>
          <td>
            {{ instance.fields.ingredients }}
          </td>
          <td>
            {{ instance.fields.price }}
          </td>
          <td>
            {{ instance.fields.stock }}
          </td>
        </tr>
      {% endfor %}
    </table>
    <!-- <div id="button" class="row">
        <div class="col-md-15">
          <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="">Add Ingredient</a>
          </div>
        </div>
        {% for ingredients in all_ingredients %}
            <li>{{ ingredients }}</li>
        {% endfor %}
    </div> -->
{% endblock content %}