{% extends "ingredients/base.html" %}
{% block content %}
    <div>
      <table>
        <tr>
          <th>Ingredients</th>
          <th>Price(£)</th>
          <th>Remaining Stock(kg)</th>
        </tr>

        {% for instance in ingredients_table %}
          <tr>
            <td>
              {{ instance.fields.ingredients }}
            </td>
            <td>
              {{ instance.fields.price }}
            </td>
            <td>
              {{ instance.fields.stock }}
            </td>
           <!--  <td>
              
            </td> -->
          </tr>
        {% endfor %}
      </table>
      <a class="btn btn-primary btn-sm btn-block" href="{% url 'ingredients-add_ingredient' %}">Add Ingredient</a>
      <br/>
      <!-- {% for instance in ingredients_table %}
      <a class="btn btn-primary btn-sm btn-block" href="{% url 'ingredients-update_ingredient' ingredient.id %}">{{ ingredient }}</a>
      {% endfor %} -->
    </div>

{% endblock content %}